body {
    margin: 0;
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .hamburger-icon {
    background-color: transparent;
  }
  